<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBaSy_SnCKWL00iPatbZMk3NQNP_LPjj-E</string>
	<key>GCM_SENDER_ID</key>
	<string>395144911307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FIKRI140702.crud</string>
	<key>PROJECT_ID</key>
	<string>crud-31bf0</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-31bf0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395144911307:ios:549f74de9f78df6a69be4e</string>
</dict>
</plist>